.weatherInfo {
  text-align: end;
  margin-top: 1px;
  padding-top: 1px;
}

body {
  font-family: Google Sans, arial, sans-serif;
  background-color: lightgreen;
}

h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 15px;
  font-weight: lighter;
}

ul {
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
}

.overview {
  margin-bottom: 20px;
}

.units img {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.weather-temperature strong {
  color: #202124;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: darkgreen;
  cursor: default;
  text-decoration: none;
}

p {
  text-align: center;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(225, 27, 27);
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-min {
  opacity: 0.5;
}
